<html>
	<head>
		<title>Novo produto</title>
	</head>
	<body>

		<h1>Novo Produto</h1>

		<div class="errors">
			<% if(erros) { %>
				<ul>
					<% for(var i = 0; i < erros.length; i++) { %>
					<li><%= erros[i].param %> - <%= erros[i].msg %></li>
					<% } %> 
				</ul>	
			<% } %>
		</div>

		<form action="/produtos" method="post">
			<label for="titulo">Título</label>
			<input type="text" name="titulo" placeholder="Título" value="<%= produto.titulo %>">

			<label for="preco">Preço</label>
			<input type="text" name="preco" placeholder="50.45" value="<%= produto.preco %>">

			<label for="descricao">Descrição</label>
			<textarea type="text" cols="10" rows="10" id="descricao" name="descricao" ><%= produto.descricao %></textarea>

			<button type="submit">Gravar</button>
		</form>

	</body>
</html>